.bar-color{
	background-color:#0093f1 !important;
}
.auto-img{
	width:100%;
	display:block;
}
.tab-item{
	color:#0c60ee;
}
.l{
	float:left;
}
.r{
	float:right;
}
.bnt-color{
	color:#aaa !important;
}
