<!DOCTYPE html>
<html ng-app="app">
<head>
	<meta charset="utf-8" />
	<title>cart_edit</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
	<link rel="stylesheet" type="text/css" href="../../css/ionic.min.css" />
	<link rel="stylesheet" type="text/css" href="../../css/public.css" />
	<link rel="stylesheet" type="text/css" href="./cart_edit.css" />
</head>
<body>
<div class="cart_edit" ng-controller="cartController">
	<ion-header-bar class="bar-positive align-title="center">
	   	<div class="title titl">购物车</div>
	   	<div class="button button-clear regi">
	   		管理
	   	</div>
	</ion-header-bar>
	<ion-content>
		
	</ion-content>
</div>
</body>
<script type="text/javascript" src="../../js/ionic.bundle.min.js"></script>
<script type="text/javascript" src="../../module/module.js"></script>
<script type="text/javascript" src="./cart_editController.js"></script>
</html>