<!DOCTYPE html>
<html ng-app="app">
<head>
	<meta charset="utf-8" />
	<title>pay_fail</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
	<link rel="stylesheet" type="text/css" href="../../css/ionic.min.css" />
	<link rel="stylesheet" type="text/css" href="../../css/public.css" />
	<link rel="stylesheet" type="text/css" href="./pay_fail.css" />
</head>
<body>
<div class="pay_fail">
	<ion-header-bar class=" align-title=center bar-positive">
	   	<div class="button button-clear">
	   		<i class="icon ion-ios-arrow-left"></i>
	   	</div>
	</ion-header-bar>
	<ion-content>
		<div class="tip-img">
			<img src="../../images/icons/pay_loss_icons@2x.png" />
			<span class="pay-state">付款失败</span>
		</div>
		<div class="row selec">
			<div class="col-50">
				<div class="conti">
					重新支付
				</div>
			</div>
			<div class="col-50">
				<div class="check">
					查看订单
				</div>
			</div>
		</div>
	</ion-content>
</div>	
</body>
<script type="text/javascript" src="../../js/ionic.bundle.min.js"></script>
<script type="text/javascript" src="../../module/module.js"></script>
<script type="text/javascript" src="./pay_failController.js"></script>
</html>