<!DOCTYPE html>
<html ng-app="app">
<head>
	<meta charset="utf-8" />
	<title></title>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
	<link rel="stylesheet" type="text/css" href="../../css/ionic.min.css" />
	<link rel="stylesheet" type="text/css" href="../../css/public.css" />
	<link rel="stylesheet" type="text/css" href="./information.css" />
</head>
<body>
<div class="information">
	<ion-header-bar class="bar-positive align-title="center">
   	<div class="button button-clear">
   		<i class="icon ion-ios-arrow-left"></i>
   	</div>
   	<div class="title titl">消息</div>
	</ion-header-bar>
	<ion-content>
		<div class="row head">
			<div class="col-50">
			     <span class="active">通 知</span>
			 </div>
			<div class="col-50">
			    <span class="">互 动</span>
			</div>
		</div>
	</ion-content>
</div>
</body>
<script type="text/javascript" src="../../js/ionic.bundle.min.js"></script>
<script type="text/javascript" src="../../module/module.js"></script>
<script type="text/javascript" src="./informationController.js"></script>
</html>