<!DOCTYPE html>
<html ng-app="app">
<head>
	<meta charset="utf-8" />
	<title>details</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
	<link rel="stylesheet" type="text/css" href="../../css/ionic.min.css" />
	<link rel="stylesheet" type="text/css" href="../../css/public.css" />
	<link rel="stylesheet" type="text/css" href="./details.css" />
</head>
<body>
<div class="details">
	<ion-header-bar class=" align-title=center bar-bg">
	   	<div class="button button-clear">
	   		<i class="icon ion-ios-arrow-left"></i>
	   	</div>
	   	<div class="title titl">详情</div>
	</ion-header-bar>
	<ion-content>
		<div class="name">
			<h5><span>品牌名称：</span>御捷电动汽车脚垫3</h5>
			<div class="row name-h">
				<div class="col-33 name-img">
					<img class="auto-img" src="../../images/particulars_picture@2x.png" />
				</div>
				<div class="name-text">
					<span> <span></span>品牌：御捷电动汽车脚垫3</span>
					<span> <span>型号：</span>666359</span>
					<span> <span>图案：</span> 纯色</span>
					<span> <span>款式：</span>全包围式</span>
					<span> <span>表层材质：</span>皮革</span>
					<span> <span>脚垫款型：</span>皮革脚垫</span>
					<span> <span>组合形式：</span>五座专用</span>
					<span> <span>成分含量：</span>71%(含)-80%(含)</span>
					<span> <span>颜色分类：</span>棕色 灰色 米色 咖啡色 黑色</span>
				</div>
			</div>
			<div><img class="auto-img" src="../../images/2.2_02.gif" /></div>
			<div><img class="auto-img" src="../../images/2.2_03.gif" /></div>
			<div><img class="auto-img" src="../../images/2.2_04.gif" /></div>
			<div><img class="auto-img" src="../../images/2.2_05.gif" /></div>
			<div><img class="auto-img" src="../../images/2.2_06.gif" /></div>
			<div><img class="auto-img" src="../../images/2.2_07.gif" /></div>
		</div>
	</ion-content>
</div>
</body>
<script type="text/javascript" src="../../js/ionic.bundle.min.js"></script>
<script type="text/javascript" src="../../module/module.js"></script>
<script type="text/javascript" src="./detailsController.js"></script>
</html>