<!DOCTYPE html>
<html ng-app="app">
<head>
	<meta charset="utf-8" />
	<title>fre_details</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
	<link rel="stylesheet" type="text/css" href="../../css/ionic.min.css" />
	<link rel="stylesheet" type="text/css" href="../../css/public.css" />
	<link rel="stylesheet" type="text/css" href="./fre_details.css" />
</head>
<body>
<div class="fre_details">
	<ion-header-bar class=" align-title=center bar-positive">
	   	<div class="button button-clear">
	   		<i class="icon ion-ios-arrow-left"></i>
	   	</div>
	   	<div class="title titl">物流详情</div>
	</ion-header-bar>
	<ion-content>
		<div class="fre-main row">
			<div class="main-img col-33">
				<img src="../../images/classification_picture5@2x.png" />
			</div>
			<div class="main-infor col-50">
				<span>物流状态： <span class="order-status">运输中</span></span>
				<span class="other-color">承运公司： <span>中通快递</span></span>
				<span class="other-color">运单编号： <span>420325016834</span></span>
				<span class="other-color">官方电话： <span>95311</span></span>
			</div>
		</div>
		<div class="sta-details list">
			<div class="item">
				<div class="sta-infor">
					<span class="loca">｛温州市｝温州龙湾 已发出</span>
					<span class="time">2017-03-24 10:12:40</span>
				</div>
			</div>
			<div class="item">
				<div class="sta-infor">
					<span class="loca">｛温州市｝温州龙湾 已发出</span>
					<span class="time">2017-03-24 10:12:40</span>
				</div>
			</div>
		</div>
	</ion-content>
</div>	
</body>
<script type="text/javascript" src="../../js/ionic.bundle.min.js"></script>
<script type="text/javascript" src="../../module/module.js"></script>
<script type="text/javascript" src="./fre_detailsController.js"></script>
</html>