<!DOCTYPE html>
<html ng-app="app">
<head>
	<meta charset="utf-8" />
	<title></title>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
	<link rel="stylesheet" type="text/css" href="../../css/ionic.min.css" />
	<link rel="stylesheet" type="text/css" href="../../css/public.css" />
	<link rel="stylesheet" type="text/css" href="./person_datum.css" />
</head>
<body>
<div class="person_datum">
	<ion-header-bar class="bar-positive align-title="center">
   	<div class="button button-clear">
   		<i class="icon ion-ios-arrow-left"></i>
   	</div>
   	<div class="title titl">个 人 资 料</div>
	</ion-header-bar>
	<ion-content>
		<ion-list>
			<ion-item class="item-button-right item-avatar-right line">
				头像
				<img src="../../images/icons/person-img.gif" />
				<div class="button button-clear bnt-color">
					<i class="icon ion-ios-arrow-right"></i>
				</div>
			</ion-item>
			<ion-item>
				<span>会员名</span>
				<span class="r">t_4632168643135_9862</span>
			</ion-item>
			<ion-item class="pd-l">
				<span>昵称</span>
				<span class="r">
					阿斯顿
					<i class="ico icon ion-ios-arrow-right"></i>
				</span>
			</ion-item>
			<ion-item class="pd-l">
				<span>性别</span>
				<span class="r">
					男
					<i class="ico icon ion-ios-arrow-right"></i>
				</span>
			</ion-item>
		</ion-list>
	</ion-content>
</div>	
</body>
<script type="text/javascript" src="../../js/ionic.bundle.min.js"></script>
<script type="text/javascript" src="../../module/module.js"></script>
<script type="text/javascript" src="./person_datumController.js"></script>
</html>